* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(120deg, #a1c4fd, #c2e9fb);
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
}


.container {
    max-width: 600px;
    opacity: 0;
    display: grid;
}
.title {
    font-size: 48px;
    margin-bottom: 16px;
}

.text {
    font-size: 24px;
    margin-bottom: 32px;
}

.buttons {
    margin-top: 20px;
}

button {
    margin: 5px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #f0f0f0;
}

.fade{
    animation: fade 2s forwards;
}

.shake{
    animation: shake 1s forwards;
}

.zoom{
    animation: zoom 1s forwards;
}

.rotate{
    animation: rotate 1s forwards;
}


@keyframes fade {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes shake {
    0% {transform: translateX(0);}
    25% {transform: translateX(-5px)}
    50% {transform: translateX(5px)}
    75% {transform: translateX(-5px)}
    100% {transform: translateX(0px); opacity: 1;}
    
}

@keyframes zoom {
    from { transform: scale(1); }
    to { transform: scale(1.2); opacity: 1;}
}

@keyframes rotate {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); opacity: 1;}
}